doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")/
        meta(http-equiv="X-UA-Compatible", content="ie=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0")/
        meta(name="author", content="Bruno Carvalho Feitosa")/
        meta(name="description", content="Cadastre-se no E-commerce Tok D'Art e tenha acesso às melhores promoções de venda de móveis para sala, cozinha e quarto")/
        meta(name="keywords", content="Cadastre-se, E-commerce, Tok D'Art, Melhores promoções, venda, móveis, sala, cozinha, quarto")/
        link(rel="stylesheet", type="text/css", href="css/cadastro.css")/
        link(rel="icon", type="image/png", href="")/
        title Cadastre-se na Tok D'Art e compro móveis com descontos especiais
    body

    section.b-register
        section.b-register__guides
            nav
                ul
                    li
                        a(href="") Entrar
                    li
                        a(href="") Cadastrar-me
                    li
                        a(href="") Políticas
                    li
                        a(href="") Segurança
        section.b-register__form
            h2 Seja bem-vindo novamente
            p Ficamos felizes em ter você por aqui, para melhorar sua experiência de compra, pedimos para que nunca compartilhe seus dados pessoais.
            form.b-register__form-fieldset(action="", method="POST")
                div.b-register__form-fieldset__group
                    label(for="email")
                        img(src="../images/icon-email.png")/
                    input(type="email", name="email", id="email", placeholder="E-mail")/
                div.b-register__form-fieldset__group
                    label(for="senha")
                        img(src="../images/icon-password.png")/
                    input(type="password", name="senha", id="senha", placeholder="Senha")/
                div.b-register__form-fieldset__actions
                    div.b-register__form-fieldset__actions-remember
                        input(type="checkbox", name="chk-remember", id="remember")/
                        label(for="remember") Lembrar-me
                    div.b-register__form-fieldset__actions-forgotPass
                        a(href="") Esqueci minha senha
                div.b-register__form-fieldset__actions-submit
                    button(type="submit", class="b-submit") Entrar agora
                    
    script(src="../js/cadastro.js")
            