include subtemplates/__page-header.pug
header.b-cart-header
section.b-cart-content
    div.b-cart-content__title
        h2 Meu Carrinho
    div.b-cart-content__header
        h4.product Produto
        h4.price Preço
        h4.quantity Quantidade
        h4.total Total
    div.b-cart-content__products

script(src="../js/globals/cart.js")
script(src="../js/globals/menu.js")