include subtemplates/__page-header.pug

section.b-container
    img.b-image-decoration(src="../../images/image-home-decoration.png")/
    section.b-container__slider
        section.b-container__slider-controls
        section.b-container__slider-content
            section.b-container__slider-content__text
                article.b-container__slider-content__text-article
                    h2 Estofados Clássicos
                    h3 A linha de clássicos traz o que tem de melhor no mercado de estofados. Nossos estofados possuem madeiras, espumas, algodões e suédes de primeira linha trazendo à você garantia e conforto.
            section.b-container__slider-content__image
                div.b-container__slider-content__image-item.active
                    img(src="../images/image-home-carousel01.png")/
                div.b-container__slider-content__image-item
                    img(src="../images/image-home-carousel02.png")/
                div.b-container__slider-content__image-item
                    img(src="../images/image-home-carousel03.png")/
            section.b-container__slider-content__image-mini-slider
                div.b-container__slider-content__image-mini-slider__product
                    div.b-container__slider-content__image-mini-slider__product-item.active
                        img(src="../images/image-home-minicarousel01.png")/
                    div.b-container__slider-content__image-mini-slider__product-item
                        img(src="../images/image-home-minicarousel02.png")/
                    div.b-container__slider-content__image-mini-slider__product-item
                        img(src="../images/image-home-minicarousel03.png")/
                    div.b-container__slider-content__image-mini-slider__product-overlay
                    div.b-container__slider-content__image-mini-slider__controls
                        button.b-container__slider-content__image-mini-slider__controls-next
                            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16.837 30.376')
                                path(d='M687.5,1802.774q.883.883,0,1.632-.885.883-1.632,0l-13.328-13.4a1.089,1.089,0,0,1,0-1.7l13.328-13.4q.747-.883,1.632,0,.883.749,0,1.632l-12.172,12.648Z' transform='translate(-671.605 -1774.972)' fill='#fff' stroke='#fff' stroke-width='1')
        section.b-container__slider-background
    section.b-container__promotion-cards        
        div.b-container__promotion-cards-container      
            
    section.b-container__shelf
        div.b-container__shelf-content
            div.b-container__shelf-content__row
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa01.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Trend Nude
                        div.b-prices
                            h3.b-prices-older R$ 3999.99
                            h3.b-prices-new R$ 3899.99
                        a(class="add-to-cart cart1") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa02.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Basic Nude
                        div.b-prices
                            h3.b-prices-older R$ 3599.99
                            h3.b-prices-new R$ 3399.99
                        a(class="add-to-cart cart2") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa03.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Home Nude
                        div.b-prices
                            h3.b-prices-older R$ 3399.99
                            h3.b-prices-new R$ 3199.99
                        a(class="add-to-cart cart3") Adicionar à sacola
            div.b-container__shelf-content__row
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa04.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Saturday Bege Mesclado
                        div.b-prices
                            h3.b-prices-older R$ 4099.99
                            h3.b-prices-new R$ 3899.99
                        a(class="add-to-cart cart4") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa05.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Biagio Nude/Quebec
                        div.b-prices
                            h3.b-prices-older R$ 4899.99
                            h3.b-prices-new R$ 4699.99
                        a(class="add-to-cart cart5") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa06.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Bruxelas Nude
                        div.b-prices
                            h3.b-prices-older R$ 4599.99
                            h3.b-prices-new R$ 4299.99
                        a(class="add-to-cart cart6") Adicionar à sacola
            div.b-container__shelf-content__row
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa07.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Kauê Nude
                        div.b-prices
                            h3.b-prices-older R$ 4699.99
                            h3.b-prices-new R$ 4499.99
                        a(class="add-to-cart cart7") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa08.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Nalanda Nude
                        div.b-prices
                            h3.b-prices-older R$ 4599.99
                            h3.b-prices-new R$ 4399.99
                        a(class="add-to-cart cart8") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa09.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Zurique Nude/Quebec
                        div.b-prices
                            h3.b-prices-older R$ 4999.99
                            h3.b-prices-new R$ 4799.99
                        a(class="add-to-cart cart9") Adicionar à sacola
            div.b-container__shelf-content__row
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa10.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Aspen Nude/Quebec
                        div.b-prices
                            h3.b-prices-older R$ 4299.99
                            h3.b-prices-new R$ 4099.99
                        a(class="add-to-cart cart10") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa11.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Soul Nude
                        div.b-prices
                            h3.b-prices-older R$ 3299.99
                            h3.b-prices-new R$ 3099.99
                        a(class="add-to-cart cart11") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa12.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Nuage Nude
                        div.b-prices
                            h3.b-prices-older R$ 3999.99
                            h3.b-prices-new R$ 3799.99
                        a(class="add-to-cart cart12") Adicionar à sacola
            div.b-container__shelf-content__row
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa13.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Vitara Nude
                        div.b-prices
                            h3.b-prices-older R$ 3699.99
                            h3.b-prices-new R$ 3399.99
                        a(class="add-to-cart cart13") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa14.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Arezzo Nude
                        div.b-prices
                            h3.b-prices-older R$ 3999.99
                            h3.b-prices-new R$ 3799.99
                        a(class="add-to-cart cart14") Adicionar à sacola
                div.b-container__shelf-content__row-product
                    div.b-container__shelf-content__row-product__image
                        img(src="../images/image-home-sofa15.png")/
                    div.b-container__shelf-content__row-product__about-product
                        h2.b-status-product Em estoque
                        h2.b-name-product Estofado Style Nude
                        div.b-prices
                            h3.b-prices-older R$ 3299.99
                            h3.b-prices-new R$ 2999.99
                        a(class="add-to-cart cart15") Adicionar à sacola
    section.b-container__off
        section.b-container__off-product-container
            div.b-container__off-product-container__text
                article.b-container__off-product-container__text-content
                    h3 30% Off
                    p 
                      | Poltronas com até 30% de 
                      strong desconto 
                      | no boleto bancário ou cartão de crédito.
            div.b-container__off-product-container__image
                img(src="../images/image-home-off-chair.png")/
        section.b-container__off-departments-container
            div.b-container__off-departments-container__content
                div.b-container__off-departments-container__content-products
                    div.b-container__off-departments-container__content-products__row
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron01.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Adelle Nude
                                div.b-prices
                                    h3.b-prices-older R$799.99
                                    h3.b-prices-new R$599.99
                                a(class="add-to-cart cart16") Adicionar à sacola
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron02.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Holly Nude
                                div.b-prices
                                    h3.b-prices-older R$899.99
                                    h3.b-prices-new R$799.99
                                a(class="add-to-cart cart17") Adicionar à sacola
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron03.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Tulipa Nude
                                div.b-prices
                                    h3.b-prices-older R$599.99
                                    h3.b-prices-new R$499.99
                                a(class="add-to-cart cart18") Adicionar à sacola
                    div.b-container__off-departments-container__content-products__row
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron04.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Ono Nude
                                div.b-prices
                                    h3.b-prices-older R$699.99
                                    h3.b-prices-new R$499.99
                                a(class="add-to-cart cart19") Adicionar à sacola
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron05.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Savona Nude
                                div.b-prices
                                    h3.b-prices-older R$599.99
                                    h3.b-prices-new R$499.99
                                a(class="add-to-cart cart20") Adicionar à sacola
                        div.b-container__off-departments-container__content-products__row-col
                            div.b-container__off-departments-container__content-products__row-col__image
                                img(src="../images/image-home-poltron06.png")/
                            div.b-container__off-departments-container__content-products__row-col__text
                                h2.b-status-product Em estoque
                                h2.b-name-product Poltrona Miss Nude
                                div.b-prices
                                    h3.b-prices-older R$899.99
                                    h3.b-prices-new R$799.99
                                a(class="add-to-cart cart21") Adicionar à sacola
    section.b-container__newsletter
        div.b-container__newsletter-content
            div.b-container__newsletter-content__instruction
                h4 Cadastre-se na Newsletter
                p 
                  | Cadastre-se e receba 
                  strong notícias 
                  | sobre a chegada de novos produtos e promoções, não fique de fora.
            div.b-container__newsletter-content__controls
                form(action="", method="POST")
                    div.b-form-group
                        label(for="email") Email
                        input(type="email", id="email", maxlength="75", required)/
                        button(type="submit") Cadastrar
    section.b-container__blog-container
        section.b-container__blog-container-background
        section.b-container__blog-container-content
            div.b-container__blog-container-content__blog-instruction
                h5 Nosso Blog
                p 
                  | Acesse nosso blog e veja 
                  strong dicas 
                  | de espaços e decorações para você não ficar perdido na hora de comprar e decorar sua casa.
                  | Veja abaixo algumas dicas.
            div.b-container__blog-container-content__posts
                div.b-container__blog-container-content__posts-tips
                    div.b-container__blog-container-content__posts-tips__card
                        div.b-container__blog-container-content__posts-tips__card-image
                            img(src="../images/image-home-blog01.jpg")/    
                        div.b-container__blog-container-content__posts-tips__card-text
                            div.b-container__blog-container-content__posts-tips__card-text__content
                               h6.b-title-post Como decorar espaços com cores claras
                               p.b-author-post Bruno Carvalho Feitosa / Fevereiro 23, 2020
                               p.b-introduction-post Se suas paredes possuem tonalidade clara, seus móveis devem acompanhá-la...
                               a(href="") Leia mais
                    div.b-container__blog-container-content__posts-tips__card
                        div.b-container__blog-container-content__posts-tips__card-image
                            img(src="../images/image-home-blog02.jpg")/    
                        div.b-container__blog-container-content__posts-tips__card-text
                            div.b-container__blog-container-content__posts-tips__card-text__content
                               h6.b-title-post Como decorar espaços com cores claras
                               p.b-author-post Bruno Carvalho Feitosa / Fevereiro 23, 2020
                               p.b-introduction-post Se suas paredes possuem tonalidade clara, seus móveis devem acompanhá-la...
                               a(href="") Leia mais
                    div.b-container__blog-container-content__posts-tips__card
                        div.b-container__blog-container-content__posts-tips__card-image
                            img(src="../images/image-home-blog03.jpg")/    
                        div.b-container__blog-container-content__posts-tips__card-text
                            div.b-container__blog-container-content__posts-tips__card-text__content
                               h6.b-title-post Como decorar espaços com cores claras
                               p.b-author-post Bruno Carvalho Feitosa / Fevereiro 23, 2020
                               p.b-introduction-post Se suas paredes possuem tonalidade clara, seus móveis devem acompanhá-la...
                               a(href="") Leia mais
include subtemplates/__page-footer.pug