$beige: #B39F98;
$black: #000;
$black-light: #212121;
$black-medium: #424242;
$black-medium-light: #555;
$gray: #757575;
$gray-border: #EAEAEA;
$gray-light: #AAA;
$gray-lighter: #CCC;
$ice: #EEE;
$orange: #F5540D;
$overlay: rgba(204, 204, 204, 0.690);
$over: rgba(0, 0, 0, 0.781);
$white: #FFF;
$white-light: #F5F5F5;
$selection: rgba(139, 126, 102, 0.581);