@import "./_colors";
@import "./_mixins";
body,
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    ul {
        list-style: none;
    }
    input,
    button,
    select {
        border: none;
        outline: none;
        box-sizing: border-box;
    }
     ::-webkit-scrollbar {
        @include px-for-rem(12, width);
    }
    body::-webkit-scrollbar-track {
        background: $gray-lighter;
    }
     ::-webkit-scrollbar-thumb {
        background: $beige;
    }
    .is--active-menu {
        position: fixed;
        @include transform(translateY(0));
        transition: transform .55s ease;
        z-index: 99;
    }
    .is--active-minicart {
        @include transform(translateX(0rem));
        transition: opacity .3s ease, transform 2s ease;
    }
    .is--active-imageminicart {
        opacity: 1;
        visibility: visible;
    }
    .is--active-form {
        @include transform(translateY(-2.125rem));
        transition: .48s transform;
    }
    .is--active-header {
        position: fixed;
    }
    .is--active-back-button {
        @include transform(translateY(-5rem));
        @include transition(.6s transform);
    }
    @keyframes animationZoom {
        0% {
            transform: scale(0.7);
            opacity: 0.2;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes animationShake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
    @keyframes animationFloat {
        50% {
            transform: translateY(60px);
        }
        100% {
            transform: translateY(0px);
        }
    }
     ::selection {
        background: $selection;
    }
     ::-moz-selection {
        background: $selection;
    }
}