@import '../globals/__mixins';

.b-header-container {
    width: 100%;
    height: auto;
    &__institucional {
        h2.b-author {
            position: absolute;
            @include px-for-rem(-13, top);
            @include px-for-rem(16, left);
            
            @include for-mobile-320 {
                @include px-for-rem(-17, top);
            }
            a {
                font-family: 'Pacifico', cursive;
                @include px-for-rem(16, font-size);
                font-weight: lighter;
                text-decoration: none;
                color: $gray;

                @include for-mobile-320 {
                    @include px-for-rem(12, font-size);
               }
            }
            
        }
        width: 100%;
        @include px-for-rem(40, height);
        background: $ice;
        nav {
            ul {
                display: flex;
                float: right;
                margin: 0;
                @include transform(translateY(.625rem));
                li {
                        text-decoration: none;
                        margin: 0 .625rem;
                        
                        @include for-mobile-320 {
                            margin: 0 .350rem;
                        }
                        &:nth-child(1) {
                            svg {
                                @include px-for-rem(20, width);
                                @include px-for-rem(20, height);
                            }
                        }
                        &:nth-child(2) {
                            svg {
                                @include px-for-rem(19, width);
                                @include px-for-rem(19, height);
                            }
                        }
                        &:nth-child(3) {
                            svg {
                               @include px-for-rem(17, width);
                               @include px-for-rem(17, height);
                            }
                        }
                        &:nth-child(4) {
                            a{
                                text-decoration: none;
                                svg {
                                    @include px-for-rem(19, width);
                                    @include px-for-rem(19, height);
                                    @include transform(translateY(-.125rem));
                                }
                            }
                            span.b-qtd-cart {
                                background: #B39F98;
                                padding: 0 .25rem;
                                font-family: 'Roboto', sans-serif;
                                @include px-for-rem(11, font-size);
                                font-weight: bold;
                                color: #fff;
                                position: relative;
                                cursor: pointer;
                            }
                        }
                    svg {
                        fill: $gray;
                        cursor: pointer;
                        &:hover {
                            @include animation(animationShake .75s);
                        }
                    }
                }
            }
        }
    }
    &__search {
        position: absolute;
        top: 0;
        width: 100%;
        @include transform(translateY(-15rem));
        @include px-for-rem(50, height);
        background: $white-light;
        &-content {
            form {
                display: flex;
                justify-content: center;
                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    @include px-for-rem(50, height);
                    @include px-for-rem(80, padding-left);
                    
                    @include for-mobile {
                        @include px-for-rem(0, padding-left);
                    }
                }
                 ::-webkit-input-placeholder {
                     @include px-for-rem(20, font-size);
                     text-align: center;
                     color: $gray-lighter;
                     
                     @include for-mobile {
                        @include px-for-rem(12, font-size);
                    }
                }
                button {
                    @include px-for-rem(240, width);
                    @include px-for-rem(50, height);
                    background: $beige;
                    border: none;
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                    @include px-for-rem(14, font-size);
                    color: $white;
                    cursor: pointer;

                    @include for-mobile {
                        @include px-for-rem(180, width);
                    }

                    @include for-mobile-320 {
                        @include px-for-rem(150, width);
                    }
                }
            }
        }
    }
    &__minicart {
        position: fixed;
        top: 0;
        right: 0;
        @include px-for-rem(400, width);
        @include transform(translateX(25rem));
        height: 100%;
        background: $white;
        box-shadow: 0 .3125rem .3125rem .125rem rgba(0, 0, 0, 0.3);
        z-index: 999;

        @include for-mobile {
            @include px-for-rem(340, width);
        }
        
        @include for-mobile-320 {
            @include px-for-rem(260, width);
        }
        &-content {
            position: absolute;
            top: 0;
            width: 100%;
            background: $white;
            z-index: 1;
            &__title {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-bag {
                    > h3 {
                        @include px-for-rem(12, margin-left);
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(16, font-size);
                        font-weight: lighter;
                        color: $black-medium;
                        > strong {
                            font-weight: lighter;
                            color: $beige;
                        }
                    }
                }
                &-close {
                    > h3 {
                        @include px-for-rem(12, margin-right);
                        font-family: 'Roboto', sans-serif;
                        font-weight: lighter;
                        @include px-for-rem(16, font-size);
                        color: $black-medium;
                        cursor: pointer;
                    }
                }
            }
            &__products {
                width: 100%;
                height: 78vh;
                min-height: 78vh;
                overflow-y: scroll;
                &-content {
                    @include px-for-rem(60, margin-top);
                    display: inline-block;
                    @include px-for-rem(20, margin-bottom);
                    width: 100%;
                    height: auto;
                    &__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @include px-for-rem(18, margin-bottom);
                        &-image {
                            @include px-for-rem(12, margin-left);
                            @include px-for-rem(92, width);
                            background: $ice;
                            
                            @include for-mobile {
                                @include px-for-rem(72, width);
                            }
                            img {
                                position: relative;
                                top: 50%;
                                @include transform(translateY(0%));
                                width: 100%;
                                cursor: pointer;
                            }
                        }
                        &-name {
                            > h4 {
                                font-family: 'Roboto', sans-serif;
                                @include px-for-rem(14, font-size);
                                font-weight: lighter;
                                color: $black-medium;

                                @include for-mobile {
                                    @include px-for-rem(11, font-size);
                                }

                                @include for-mobile-320 {
                                    @include px-for-rem(9, font-size);
                                }
                            }
                        }
                        &-price {
                            @include px-for-rem(12, margin-right);
                            > h4 {
                                font-family: 'Roboto', sans-serif;
                                @include px-for-rem(14, font-size);
                                font-weight: lighter;
                                color: $gray-light;
                                
                                @include for-mobile-320 {
                                    @include px-for-rem(11, font-size);
                                }

                            }
                        }
                    }
                }
            }
            &__cost {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-title {
                    > h3 {
                        @include px-for-rem(12, margin-left);
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(16, font-size);
                        text-transform: uppercase;
                        color: $black-medium;
                    }
                }
                &-price {
                    > h3 {
                        @include px-for-rem(12, margin-right);
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(16, font-size);
                        color: $black-medium;
                    }
                }
            }
            &__continue {
                display: flex;
                justify-content: center;
                @include px-for-rem(10, padding);
                width: 100%;
                @include for-mobile {
                    @include px-for-rem(21, padding);
                }
                > a {
                    font-family: 'Roboto', sans-serif;
                    @include px-for-rem(12, font-size);
                    text-align: center;
                    text-decoration: underline;
                    color: $black-medium;
                    cursor: pointer;
                }
            }
            &__buy {
                display: flex;
                justify-content: center;
                @include px-for-rem(18, padding);
                width: 100%;
                background: $beige;
                cursor: pointer;
                > a {
                    width: 100%;
                    height: 100%;
                    button {
                        width: 100%;
                        height: 100%;
                        background: none;
                        border: none;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(14, font-size);
                        font-weight: bold;
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        @include px-for-rem(14, line-height);
                        color: $white;
                        cursor: pointer;
                    }
                }
                &:hover {
                    opacity: 0.82;
                    @include transition(.6s opacity);
                }
            }
        }
    }
    &__departments {
        position: relative;
        width: 100%;
        @include px-for-rem(164, height);
        background: $white;
        display: flex;
        justify-content: center;
        align-items: baseline;
        > div {
            display: flex;
            justify-content: center;

            @include for-mobile {
                display: inline;
            }

            @include for-tablet {
                display: inline;
            }
            nav {

                @include for-mobile {
                    position: fixed;
                    top: 0;
                    right: 0;
                    @include transform(translateX(24.25rem));
                    @include px-for-rem(310, width);
                    height: 100vh;
                    background: $ice;
                    z-index: 99;
                }

                @include for-mobile-320 {
                    @include px-for-rem(260, width);
                }

                @include for-tablet {
                    position: fixed;
                    top: 0;
                    right: 0;
                    @include transform(translateX(37.5rem));
                    @include px-for-rem(440, width);
                    height: 110vh;
                    background: $ice;
                    z-index: 99;
                }
                ul {
                    display: flex;

                    @include for-mobile {
                        display: inline;
                    }
                    li {
                        
                        @include for-mobile {
                            margin: 0 .925rem 1.5rem;
                        }

                        @include for-tablet {
                            margin: 0 .925rem 1.5rem;
                        }
                        a {
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            text-decoration: none;
                            color: $gray;

                            @include for-mobile {
                                @include px-for-rem(18, font-size);
                            }

                            @include for-tablet {
                                @include px-for-rem(32, font-size);
                            }
                        }
                    }
                }
            }
        }
        &-brand {

            @include for-mobile {
                position: relative;
                top: 14px;
            }

            @include for-tablet {
                position: relative;
                top: 14px;
            }
            a {
                position: relative;
                @include px-for-rem(5, top);
                font-family: 'Simonetta', sans-serif;
                @include px-for-rem(26, font-size);
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                color: $black-medium;
            }
        }
        &-menu {
            nav {
                ul {

                    @include for-mobile {
                        display: flex!important;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include transform(translateY(4.875rem));
                    }
                    
                    @include for-tablet {
                        display: flex!important;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include transform(translateY(4.875rem));
                    }
                    li {
                        margin: 0 .925rem;
                        z-index: 99;
                        &:first-of-type {
                            a {
                                font-weight: bold;
                                color: $beige;
                                &::after {
                                    content: "";
                                    display: block;
                                    @include transform(translateY(-.125rem));
                                    width: 120%;
                                    @include px-for-rem(8, height);
                                    background: $beige;

                                    @include for-mobile {
                                        display: none;
                                    }

                                    @include for-tablet {
                                        display: none;
                                    }
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: $beige;
                            }
                        }
                    }
                }
                .b-close {
                    display: none;
                    position: absolute;
                    @include px-for-rem(20, top);
                    @include px-for-rem(18, right);

                    @include for-mobile {
                        display: block;
                    }
                    @include for-tablet {
                        display: block;
                    }
                    > h6 {
                        margin: 0;
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(22, font-size);
                        font-weight: lighter;
                        color: $gray;
                        
                        @include for-mobile {
                            @include px-for-rem(18, font-size);
                        }
                    }
                }
            }
        }
        &-hamburguer {
            display: none !important;
            position: absolute;
            @include px-for-rem(24, top);
            @include px-for-rem(10, right);
            cursor: pointer;

            @include for-mobile {
                display: flex !important;
                align-items: center;
                @include px-for-rem(14, height);
            }

            @include for-tablet {
                display: flex !important;
                align-items: center;
                @include px-for-rem(14, height);
            }
            > span {
                &::before {
                    content: '';
                    display: block;
                    @include px-for-rem(40, width);
                    @include px-for-rem(2, height);
                    background: $gray-lighter;
                }
                &::after {
                    content: '';
                    display: block;
                    @include px-for-rem(30, width);
                    @include px-for-rem(2, height);
                    @include transform(translateY(.3125rem));
                    background: $gray-lighter;
                }
            }
        }
    }
}