doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")/
        meta(http-equiv="X-UA-Compatible", content="ie=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0")/
        meta(name="author", content="Bruno Carvalho Feitosa")/
        meta(name="description", content="E-commerce para venda de móveis para sala, cozinha e quarto")/
        meta(name="keywords", content="E-commerce Tok D'Art, venda, móveis, sala, cozinha, quarto")/
        link(rel="stylesheet", type="text/css" href="css/index.css")/
        link(rel="stylesheet", type="text/css" href="css/cart.css")/
        link(rel="icon", type="image/png", href="/images/fav.png")/
        title Tok D'Art | Compre móveis para sala, quarto, cozinha, decoração e muito mais.
    body

        header.b-header-container
            div.b-header-container__institucional
                nav
                    ul
                        li#search
                            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30")
                                path(d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z")
                        li#wishlist
                            a(href="")
                                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 18 15.49")
                                    path(d="M137.38-3067.149a5.8,5.8,0,0,1,4.176,1.893,5.8,5.8,0,0,1,4.176-1.893,4.64,4.64,0,0,1,2.407.658,4.97,4.97,0,0,1,1.769,1.769,4.633,4.633,0,0,1,.658,2.406,3.507,3.507,0,0,1-.247,1.276,5.353,5.353,0,0,1-.555,1.029,6.245,6.245,0,0,1-.555.679l-7.179,7.221-.473.453-7.653-7.694a4.76,4.76,0,0,1-.535-.678,4.338,4.338,0,0,1-.8-2.284,4.693,4.693,0,0,1,.648-2.406,4.889,4.889,0,0,1,1.759-1.769A4.64,4.64,0,0,1,137.38-3067.149Zm1.378,1.584a3.712,3.712,0,0,0-1.378-.288,3.421,3.421,0,0,0-1.779.483,3.591,3.591,0,0,0-1.286,1.3,3.439,3.439,0,0,0-.473,1.759,2.98,2.98,0,0,0,.576,1.564,4,4,0,0,0,.432.555l6.706,6.706,6.5-6.5.309-.391a5.222,5.222,0,0,0,.6-.885,2.447,2.447,0,0,0,.309-1.049,3.439,3.439,0,0,0-.473-1.759,3.585,3.585,0,0,0-1.286-1.3,3.419,3.419,0,0,0-1.779-.483,3.715,3.715,0,0,0-1.378.288,7.288,7.288,0,0,0-1.193.638,9.712,9.712,0,0,0-.823.658l-.309.288-.473.535-.473-.535-.309-.288a9.714,9.714,0,0,0-.823-.658,7.259,7.259,0,0,0-1.193-.638Z" transform="translate(-132.566 3067.149)")
                        li#account
                            a(href="cadastro.html")
                                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 18.75 20.64")
                                    path(d="M71.013-3066.537a6.4,6.4,0,0,1,3.285.885,6.577,6.577,0,0,1,2.4,2.4,6.4,6.4,0,0,1,.885,3.285,6.293,6.293,0,0,1-.795,3.09,6.989,6.989,0,0,1-2.115,2.37,9.4,9.4,0,0,1,2.97,2.01,8.995,8.995,0,0,1,1.98,2.97,9.079,9.079,0,0,1,.75,3.63h-1.86a7.348,7.348,0,0,0-1-3.765,7.449,7.449,0,0,0-2.73-2.73,7.348,7.348,0,0,0-3.765-1,7.348,7.348,0,0,0-3.765,1,7.449,7.449,0,0,0-2.73,2.73,7.348,7.348,0,0,0-1,3.765h-1.89a9.051,9.051,0,0,1,1.62-5.22,9.186,9.186,0,0,1,4.11-3.39,6.989,6.989,0,0,1-2.115-2.37,6.293,6.293,0,0,1-.795-3.09,6.4,6.4,0,0,1,.885-3.285,6.577,6.577,0,0,1,2.4-2.4A6.4,6.4,0,0,1,71.013-3066.537Zm0,1.89a4.54,4.54,0,0,0-2.355.63,4.749,4.749,0,0,0-1.695,1.7,4.54,4.54,0,0,0-.63,2.355,4.539,4.539,0,0,0,.63,2.355,4.747,4.747,0,0,0,1.695,1.7,4.54,4.54,0,0,0,2.355.63,4.54,4.54,0,0,0,2.355-.63,4.747,4.747,0,0,0,1.7-1.7,4.539,4.539,0,0,0,.63-2.355,4.54,4.54,0,0,0-.63-2.355,4.712,4.712,0,0,0-1.71-1.7A4.564,4.564,0,0,0,71.013-3064.647Z" transform="translate(-61.623 3066.537)")
                        li#cart
                            a(href="cart.html", target="_blank")
                                svg(version="1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink" viewbox="0 0 16 16")
                                    path(d="M14 13.1v-1.1h-9.4l0.6-1.1 9.2-0.9 1.6-6h-12.3l-0.7-3h-3v1h2.2l2.1 8.4-1.3 2.6v1.5c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5-0.7-1.5-1.5-1.5h7.5v1.5c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5c0-0.7-0.4-1.2-1-1.4zM4 5h10.7l-1.1 4-8.4 0.9-1.2-4.9z")
                            span.b-qtd-cart
                                span 0
            section.b-header-container__search
                div.b-header-container__search-content
                    form(action="", method="POST")
                        input(type="text", placeholder="Pesquise e veja como tudo é barato")/
                        button(type="submit") Buscar
            section.b-header-container__minicart
                div.b-header-container__minicart-content
                    div.b-header-container__minicart-content__title
                        div.b-header-container__minicart-content__title-bag
                            h3 
                                | Meu 
                                strong carrinho
                        div.b-header-container__minicart-content__title-close
                            h3 Fechar X
                div.b-header-container__minicart-content__products
                    div.b-header-container__minicart-content__products-content
                div.b-header-container__minicart-content__cost
                    div.b-header-container__minicart-content__cost-title
                        h3 Total
                    div.b-header-container__minicart-content__cost-price
                        h3 
                            | R$
                            span
                section.b-header-container__minicart-content__continue
                    a Continuar Comprando
                section.b-header-container__minicart-content__buy
                    a(href="cart.html", target="_blank")
                        button(type="button") Finalizar Compra
            div.b-header-container__departments
                div.b-header-container__departments-brand
                    a(href="/") Tok D'art
                div.b-header-container__departments-menu
                    nav
                        ul
                            li
                                a(href="/", class="b-link-active") Home
                            li
                                a(href="") Categorias
                            li
                                a(href="") Outlet
                            li
                                a(href="") Sobre nós
                            li
                                a(href="") Fale Conosco
                            li
                                a(href="") Lojas
                            li
                                a(href="") Blog
                    



