footer.b-footer-container
    img.b-image-decoration(src="../../images/image-home-decoration.png")/
    div.b-footer-container__institucional
        div.b-footer-container__institucional-item
            ul
                h6 Serviços
                li
                    a(href="") Ajuda e Contato
                li
                    a(href="") Devolução de Produtos
                li
                    a(href="") Nossas Lojas
                li
                    a(href="") Termos e Condições
        div.b-footer-container__institucional-item
            ul
                h6 Navegue
                li
                    a(href="") Estofados
                li
                    a(href="") Mesas
                li
                    a(href="") Luminárias
                li
                    a(href="") Artigos de Decoração
        div.b-footer-container__institucional-item
            ul
                h6 Contato
                li
                    a(href="https://www.linkedin.com/in/bruno-carvalho-feitosa", target="_blank") LinkedIn
                li
                    a(href="https://github.com/BrunoCarvalhoFeitosa", target="_blank") GitHub
                li
                    a(href="https://www.facebook.com/bruno.carvalho.feitosa97", target="_blank") Facebook
                li
                    a(href="https://twitter.com/BrunoFeitosa97", target="_blank") Twitter
        div.b-footer-container__institucional-item
            ul
                h6 Perfil
                li
                    a(href="") Minha Conta
                li
                    a(href="") Meus Pedidos
                li
                    a(href="") Lista de Desejos
                li
                    a(href="") Ajuda e Suporte

    div.b-footer-container__brand
        h6 
            a(href="") Tok D'arte

script(src="../../js/globals/menu.js")
script(src="../../js/globals/search.js")
script(src="../../js/globals/cart.js")
script(src="../../js/globals/newsletter.js")
script(src="../../js/globals/scrollTop.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js")