@import "./layouts/globals/_globals";
@import "./layouts/globals/_fonts";
@import "./layouts/globals/_mixins";
@import "./layouts/globals/__colors";

.b-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &__guides {
        float: right;
        nav {
            ul {
                display: flex;
                list-style: none;
                li {
                    margin: 0 .3125rem;
                    a {
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(14, font-size);
                        text-decoration: none;
                        color: $black-medium;
                    }
                }
            }
        }
    }
    &__form {
        width: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        h2 {
            font-family: 'Roboto', sans-serif;
            @include px-for-rem(18, font-size);
            text-align: center;
            text-transform: uppercase;
            color: $black-medium;
        }
        p {
            font-family: 'Roboto', sans-serif;
            @include px-for-rem(14, font-size);
            color: $black-medium;
        }
        &-fieldset {
            position: relative;
            width: 100%;
            &__group {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                @include px-for-rem(1, margin-bottom);
                label {
                    img {
                        position: absolute;
                        @include px-for-rem(14, top);
                        @include px-for-rem(6, left);
                        width: 16px;
                        cursor: pointer;
                        &:hover {
                            @include transform(rotateX(360deg));
                            @include transition(.69s transform);
                        }
                    }
                }
                input {
                    width: 350px;
                    padding: .925rem 1.8625rem;
                    background: #f5f5f5;
                    &:focus {
                        background: #e9e9e9;
                    }
                }
                #email {
                    border-radius: 25px 0 0 0;
                }
                
            }
            &__actions {
                display: flex;
                justify-content: space-between;
                @include px-for-rem(8, margin-top);
                @include px-for-rem(12, margin-bottom);
                &-remember {
                    input {
                        appearance: none;
                        -webkit-appearance: none;
                        @include px-for-rem(18, width);
                        @include px-for-rem(18, height);
                        border: .0625rem solid $beige;
                        cursor: pointer;
                        &:checked {
                            background: $beige;
                        }
                    }
                    label {
                        position: relative;
                        @include px-for-rem(7, bottom);
                        @include px-for-rem(2, left);
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(12, font-size);
                        color: $black-medium;
                        cursor: pointer;
                    }
                }
                &-forgotPass {
                    a {
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(12, font-size);
                        color: $black-medium;   
                    }
                }
            }
            &__submit {
                button {
                    float: right;
                    padding: .625rem 2.2625rem;
                    background: $beige;
                    font-family: 'Roboto', sans-serif;
                    @include px-for-rem(12, font-size);
                    color: $white;
                    cursor: pointer;
                    &:hover {
                        opacity: .82;
                        @include transition(.5s opacity);
                    }
                }
            }
        }
    }
}