@import "./layouts/globals/_globals";
@import "./layouts/globals/_fonts";
@import "./layouts/globals/_mixins";
@import "./layouts/globals/__colors";
@import "./layouts/globals/__back-button";
@import "./layouts/globals/__page-header";
@import "./layouts/globals/__page-footer";

.b-container {
    width: 100%;
    background: $ice;
    &__slider {
        position: relative;
        display: flex;
        @include transform(translateY(-100px));
        z-index: 1;
        width: 100%;
        &-controls {
            width: 11%;
            @include transform(translateY(70px));
            background: $ice;
        }
        &-content {
            display: flex;
            width: 86%;
            height: 100%;
            background: $white-light;

            @include for-mobile {
                flex-direction: column;
            }
            &__text {
                width: 50%;
                height: auto;

                @include for-mobile {
                    width: 100%;
                }
                &-article {
                    @include px-for-rem(368, width);
                    margin: 3.8rem auto 0;
                    float: right;

                    @include for-mobile {
                        margin: 0 auto 2.65rem;
                        width: auto;
                    }

                    @include for-tablet {
                        margin: 0 auto 2.65rem;
                        width: auto;
                    }
                    h2 {
                        margin: 1.25rem 0;
                        font-family: 'Simonetta', sans-serif;
                        @include px-for-rem(60, font-size);
                        text-transform: uppercase;
                        @include px-for-rem(2, letter-spacing);
                        font-weight: bold;
                        @include px-for-rem(70, line-height);
                        text-align: end;
                        color: $black-medium;
                        
                        @include for-mobile {
                            margin: 1.25rem .5rem 0;
                            @include px-for-rem(55, font-size);
                        }
                        
                        @include for-mobile-320 {
                            @include px-for-rem(44, font-size);
                        }

                        @include for-tablet {
                            margin: 1.25rem .5rem 0;
                            @include px-for-rem(50, font-size);
                            @include px-for-rem(54, line-height);
                        }
                    }    
                    h3 {
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(14, font-size);
                        font-weight: lighter;
                        text-align: end;
                        color: $black-medium;

                        @include for-mobile {
                            @include px-for-rem(8, margin-right);
                        }
                    }
                }
            }
            &__image {
                width: 50%;
                height: auto;
                @include transform(translateY(-1rem));
                
                @include for-mobile {
                    width: 100%;
                    @include transform(translateY(2.375rem));
                }
                &-item {
                    display: none;
                    > img {
                        width: 100%;
                        height: auto;
                    }
                }
                .active {
                    display: block;
                    position: relative;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
                &-mini-slider {
                    position: absolute;
                    @include px-for-rem(-56, bottom);
                    @include px-for-rem(2, right);
                    @include px-for-rem(240, width);
                    height: auto;
                    
                    @include for-mobile {
                        @include px-for-rem(-64, bottom);
                        @include px-for-rem(200, width);
                    }

                    @include for-tablet {
                        @include px-for-rem(-68, bottom);
                        @include px-for-rem(200, width);
                    }
                    &__product {
                        width: 100%;
                        background: #f5f5f5;
                        &-item {
                            display: none;
                            > img {
                                width: 98%;
                                margin: 0 1%;
                                @include animation(animationZoom 1.05s ease-out);
                            }
                        }
                        .active {
                            display: block;
                        }
                        &-overlay {
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 75%;
                            background: $overlay;
                            cursor: pointer;
                            &__description {
                                position: absolute;
                                bottom: 0;
                                @include px-for-rem(5, right);
                                > h5 {
                                    margin: 1.125rem .25rem;
                                    font-family: 'Playfair Display', sans-serif;
                                    font-size: .75rem;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    text-align: center;
                                    line-height: 0;
                                    color: $black;
                                }
                            }
                        }
                    }
                    &__controls {
                        display: flex;
                        width: 100%;
                        @include px-for-rem(40, height);
                        background: #fff;
                        button {
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            background: $beige;
                            font-family: sans-serif;
                            @include px-for-rem(22, font-size);
                            font-weight: bold;
                            color: $gray-lighter;
                            cursor: pointer;   
                        }
                        &-next {
                            transition: 0.5s;
                            svg {
                                width: 1.0625rem;
                                height: 1.0625rem;
                                fill: $white;
                                stroke-width: .0625rem;
                                stroke: $white;
                                @include transform(rotate(180deg));
                            }
                            &:hover {
                                opacity: 0.82;
                                @include transition(.6s opacity);
                            }
                        }
                    }
                }
            }
        }
        &-background {
            width: 6%;
            height: auto;
            background: $white;
        }
    }
    &__promotion-cards {
        float: right;
        @include transform(translateY(-6.25rem));
        width: 89.4%;
        @include px-for-rem(450, height);
        background: #fff;
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 7.4375rem 4rem;
        }
    }
    &__shelf {
        position: relative;
        @include px-for-rem(80, padding-bottom);
        width: 100%;
        background: $ice;
        &-content {
            margin: 30rem auto 0;
            @include px-for-rem(1080, max-width);
            height: 100%;
            > h2 {
                position: absolute;
                @include px-for-rem(-124, top);
                @include px-for-rem(144, right);
                font-family: 'Roboto', sans-serif;
                @include px-for-rem(125, font-size);
                text-transform: uppercase;
                color: #e3e3e3;

                @include for-mobile {
                    margin: 0;
                    @include px-for-rem(120, top);
                    @include px-for-rem(10, right);
                    @include px-for-rem(62, font-size);
                }

                @include for-tablet {
                    @include px-for-rem(0, top);
                    @include px-for-rem(12, right);
                    @include px-for-rem(68, font-size);
                }
            }
            > h3 {
                font-family: 'Simonetta', sans-serif;
                @include px-for-rem(60, font-size);
                font-weight: bold;
                text-transform: uppercase;
                @include px-for-rem(2, letter-spacing);
                @include px-for-rem(0, line-height);
                color: $black-medium;

                @include for-mobile {
                    @include px-for-rem(38, margin-bottom);
                    text-align: center;
                }

                @include for-tablet {
                    @include transform(translateX(1.25rem) !important);
                }
            }
            > p {
                @include px-for-rem(80, margin-bottom);
                font-family: 'Roboto', sans-serif;
                font-weight: lighter;
                line-height: 0;
                color: $black-medium;
                @include for-mobile {
                    @include px-for-rem(128, margin-bottom);
                    text-align: center;
                    line-height: normal;
                }

                @include for-tablet {
                    @include transform(translateX(1.25rem) !important);
                }
                > strong {
                    font-family: 'Simonetta', sans-serif;
                    text-transform: uppercase;
                    color: $beige;
                    &:hover {
                       text-decoration: line-through;
                    }
                }
            }
            &__row {
                display: flex;
                margin: 1.5rem 0;
                width: 100%;

                @include for-mobile {
                    display: inline;
                }
                &-product {
                    position: relative;
                    margin: 0 .625rem;
                    width: 33.3%;
                    background: #f5f5f5;
                    
                    @include for-mobile {
                        width: 92%;
                        margin: 1.4rem auto;
                    }
                    &:hover {
                        @include transform(translateY(-.6000rem) !important);
                        @include transition(.85s transform);
                        @include filter(drop-shadow(.155rem 0rem .155rem $beige));
                    }
                    &__image {
                        width: 100%;
                        img {
                            width: 100%;
                            cursor: pointer;
                            &:hover {
                                @include transform(scale(1.035));
                                @include transition(transform .2s ease-in);
                            }
                        }
                    }
                    &__about-product {
                        width: 100%;
                        @include px-for-rem(15, padding);
                        @include px-for-rem(60, padding-bottom);
                        h2.b-status-product {
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(14, font-size);
                            color: $black-medium;
                        }
                        h2.b-name-product {
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(14, font-size);
                            font-weight: lighter;
                            color: $black-medium;
                        }
                        .b-prices {
                            display: flex;
                            &-older {
                                font-family: 'Roboto', sans-serif;
                                @include px-for-rem(14, font-size);
                                font-weight: lighter;
                                text-decoration: line-through;
                                color: $gray;
                            }
                            &-new {
                                @include px-for-rem(14, margin-left);
                                font-family: 'Roboto', sans-serif;
                                @include px-for-rem(14, font-size);
                                font-weight: lighter;
                                color: $beige;
                            }
                        }
                        > a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            @include px-for-rem(20, right);
                            @include px-for-rem(32, bottom);
                            @include px-for-rem(120, width);
                            @include px-for-rem(34, height);
                            background: $beige;
                            box-shadow: .1875rem .1875rem .1875rem 0 rgba(0, 0, 0, 0.3);
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(12, font-size);
                            color: $white;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.82 !important;
                                @include transition(.6s opacity);
                                animation: animationShake .65s;
                            }
                        }
                    }
                }
            }
        }
    }
    &__off {
        width: 100%;
        height: auto;
        background: #fff;
        &-product-container {
            display: flex;
            width: 100%;
            @include px-for-rem(300, height);
            background: #fff;
            &__text {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                background: $white;

                @include for-mobile {
                    width: 64%;
                }
                &-content {
                    h3 {
                        font-family: 'Simonetta', sans-serif;
                        @include px-for-rem(60, font-size);
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        @include px-for-rem(2, letter-spacing);
                        line-height: 0;
                        color: $black-medium;

                        @include for-mobile {
                            margin: 9.75rem 0 0;
                            @include transform(translateX(.625rem) !important);
                            @include px-for-rem(42, font-size);
                            text-align: left;
                            line-height: normal;
                        }
                    }
                    p {
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(14, font-size);
                        font-weight: lighter;
                        line-height: 0;
                        color: $black-medium;

                        @include for-mobile {
                            line-height: normal;
                            @include transform(translateX(.625rem) !important);
                        }
                        
                        @include for-tablet {
                            text-align: center;
                            line-height: normal;
                            @include transform(translateX(.625rem) !important);
                        }
                        > strong {
                            font-family: 'Simonetta', sans-serif;
                            text-transform: uppercase;
                            color: $beige;
                            &:hover {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
            &__image {
                width: 50%;
                height: 100%;
                background: $white;

                @include for-mobile {
                    width: 0;
                }
                > img {
                    @include transform(translateY(1rem));
                    width: 72%;
                    
                    @include for-mobile {
                        position: absolute;
                        right: -32%;
                        @include px-for-rem(298, width);
                        @include transform(translate(-8.375rem, -4.25rem) !important);
                    }
                    
                    @include for-mobile-320 {
                        right: -42%;
                        @include px-for-rem(238, width);
                    }

                    @include for-tablet {
                        width: 82%;
                        @include transform(translateY(2rem) !important);
                    }
                }
            }
        }
        &-departments-container {
            width: 94%;
            background: $ice;
            &__content {
                margin: 0 auto;
                @include px-for-rem(1080, max-width);
                &-products {
                    position: relative;
                    @include px-for-rem(230, padding-top);
                    @include px-for-rem(80, padding-bottom);

                    @include for-mobile {
                        @include px-for-rem(66, padding-top);
                    }

                    @include for-tablet {
                        @include px-for-rem(76, padding-top);
                    }
                    > h2 {
                        position: absolute;
                        @include px-for-rem(-20, top);
                        @include px-for-rem(10, left);
                        font-family: 'Roboto', sans-serif;
                        @include px-for-rem(125, font-size);
                        text-transform: uppercase;
                        color: #e3e3e3;

                        @include for-mobile {
                            margin: 1.125rem .5rem 0;
                            @include px-for-rem(62, font-size);
                        }
                        
                        @include for-tablet {
                            margin: 1.5rem 0;
                            @include px-for-rem(62, font-size);
                            @include transform(translateX(.9375rem) !important);
                        }
                    }
                    &__row {
                        margin: 0.3rem 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include for-mobile {
                            display: inline;
                        }
                        &-col {
                            position: relative;
                            margin: .625rem;
                            width: 33.3%;

                            @include for-mobile {
                                margin: 1.625rem auto;
                                width: 92%;
                            }

                            @include for-tablet {
                                width: 29.3%;
                            }
                            background: $white;
                            &:hover {
                                @include transform(translateY(-.6000rem) !important);
                                @include transition(.85s transform);
                                @include filter(drop-shadow(.155rem 0rem .155rem $beige));
                            }
                            &__image {
                                width: 100%;
                                > img {
                                    width: 100%;
                                    cursor: pointer;
                                    &:hover {
                                        @include transform(scale(1.035));
                                        @include transition(transform .2s ease-in)
                                    }
                                }
                            }
                            &__text {
                                width: 100%;
                                @include px-for-rem(15, padding);
                                @include px-for-rem(60, padding-bottom);
                                h2.b-status-product {
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(14, font-size);
                                    color: $black-medium;
                                }
                                h2.b-name-product {
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(14, font-size);
                                    font-weight: lighter;
                                    color: $black-medium;
                                }
                                .b-prices {
                                    display: flex;
                                    &-older {
                                        font-family: 'Roboto', sans-serif;
                                        @include px-for-rem(14, font-size);
                                        font-weight: lighter;
                                        text-decoration: line-through;
                                        color: $gray;
                                    }
                                    &-new {
                                        @include px-for-rem(14, margin-left);
                                        font-family: 'Roboto', sans-serif;
                                        @include px-for-rem(14, font-size);
                                        font-weight: lighter;
                                        color: $beige;
                                    }
                                }
                                > a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    @include px-for-rem(20, right);
                                    @include px-for-rem(32, bottom);
                                    @include px-for-rem(120, width);
                                    @include px-for-rem(34, height);
                                    background: $beige;
                                    box-shadow: .1875rem .1875rem .1875rem 0 rgba(0, 0, 0, 0.3);
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(12, font-size);
                                    color: $white;
                                    cursor: pointer;
                                    &:hover {
                                        opacity: 0.82;
                                        @include transition(.6s opacity);
                                        animation: animationShake .65s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__newsletter {
        width: 100%;
        background: $white;
        &-content {
            margin: 0 auto;
            @include px-for-rem(440, width);
            @include px-for-rem(440, max-width);

            @include for-mobile {
                width: 100%;
                max-width: 100%;
            }
            &__instruction {
                @include px-for-rem(40, padding-top);
                h4 {
                    margin: 0;
                    font-family: 'Simonetta', sans-serif;
                    @include px-for-rem(46, font-size);
                    text-transform: uppercase;
                    text-align: center;
                    @include px-for-rem(2, letter-spacing);
                    color: $black-medium;

                    @include for-mobile {
                        @include px-for-rem(36, font-size);
                    }
                    
                    @include for-mobile-320 {
                        @include px-for-rem(28, font-size);
                    }
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    @include px-for-rem(14, font-size);
                    font-weight: lighter;
                    text-align: center;
                    color: $black-medium;
                    > strong {
                        font-family: 'Simonetta', sans-serif;
                        text-transform: uppercase;
                        color: $beige;
                    }
                }
            }
            &__controls {
                @include px-for-rem(50, margin-top);
                @include px-for-rem(60, padding-bottom);
                form {
                    .b-form-group {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        label {
                            position: absolute;
                            @include px-for-rem(10, top);
                            @include px-for-rem(36, left);
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(16, font-size);
                            color: $gray;
                            z-index: 9;
                        }
                        input {
                            @include px-for-rem(300, width);
                            @include px-for-rem(12, padding-top);
                            @include px-for-rem(12, padding-bottom);
                            @include px-for-rem(18, padding-left);
                            background: $white-light;
                            border: none;
                            outline: none;
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(14, font-size);
                            color: $gray;
                            
                            @include for-mobile {
                                @include px-for-rem(250, width);
                            }
                            
                            @include for-mobile-320 {
                                @include px-for-rem(192, width);
                            }
                        }
                        button {
                            @include px-for-rem(12, padding-top);
                            @include px-for-rem(12, padding-bottom);
                            @include px-for-rem(18, padding-left);
                            @include px-for-rem(18, padding-right);
                            background: $beige;
                            border: none;
                            outline: none;
                            font-family: 'Roboto', sans-serif;
                            @include px-for-rem(14, font-size);
                            color: $white;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.82 !important;
                                @include transition(.6s opacity);
                            }
                        }
                    }
                }
            }
        }
    }
    &__blog-container {
        display: flex;
        width: 100%;
        background: #fff;
        &-background {
            width: 6%;
            height: auto;
            background: $white;
        }
        &-content {
            width: 94%;
            background: $ice;
            &__blog-instruction {
                @include px-for-rem(580, max-width);
                margin: 2.5rem auto;

                @include for-mobile {
                    padding: 0 1.25rem;
                }
                h5 {
                    margin: 0;
                    font-family: 'Simonetta', sans-serif;
                    @include px-for-rem(46, font-size);
                    @include px-for-rem(2, letter-spacing);
                    text-transform: uppercase;
                    text-align: center;
                    color: $black-medium;
                    
                    @include for-mobile {
                        @include px-for-rem(36, font-size);
                    }

                    @include for-mobile-320 {
                        @include px-for-rem(28, font-size);
                    }
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    @include px-for-rem(14, font-size);
                    text-align: center;
                    color: $black-medium;
                    > strong {
                        font-family: 'Simonetta', sans-serif;
                        text-transform: uppercase;
                        color: $beige;
                    }
                }
            }
            &__posts {
                display: flex;
                justify-content: center;
                align-items: center;
                @include px-for-rem(60, padding-bottom);
                &-tips {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include for-mobile {
                        display: inline;
                    }
                    &__card {
                        @include px-for-rem(320, width);
                        @include px-for-rem(6, margin);
                        
                        @include for-mobile {
                            margin: 0 0 1.375rem;
                        }
                        
                        @include for-mobile-320 {
                            @include px-for-rem(268, width);
                        }

                        @include for-tablet {
                            width: 30%;
                        }
                        &-image {
                            @include px-for-rem(280, height);
                            overflow: hidden;

                            @include for-tablet {
                                @include px-for-rem(240, height);
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                &:hover {
                                    @include transform(scale(1.07));
                                    @include transition(.75s transform);
                                }
                            }
                        }
                        &-text {
                            width: 100%;
                            background: $white;
                            &__content {
                                position: relative;
                                padding: 1.25rem;
                                @include px-for-rem(136, height);
                                
                                @include for-tablet {
                                    @include px-for-rem(166, height);
                                }
                                h6.b-title-post {
                                    margin: 0;
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(14, font-size);
                                    font-weight: 600;
                                    color: $black-medium;
                                    
                                    @include for-mobile-320 {
                                        @include px-for-rem(12, font-size);
                                    }

                                    @include for-tablet {
                                        @include px-for-rem(12, font-size);
                                    }
                                }
                                p.b-author-post {
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(11, font-size);
                                    font-weight: lighter;
                                    text-align: end;
                                    color: $black-medium;
                                }
                                p.b-introduction-post {
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(14, font-size);
                                    font-weight: lighter;
                                    text-align: end;
                                    color: $black-medium;

                                    @include for-mobile-320 {
                                        @include px-for-rem(12, font-size);
                                    }

                                    @include for-tablet {
                                        @include px-for-rem(12, font-size);
                                    }
                                }
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    @include px-for-rem(16, right);
                                    font-family: 'Roboto', sans-serif;
                                    @include px-for-rem(14, font-size);
                                    padding: 0rem 1rem;
                                    @include px-for-rem(34, height);
                                    text-align: end;
                                    text-decoration: none;
                                    color: $white;
                                    background: $beige;
                                    box-shadow: .1875rem .1875rem .1875rem 0 rgba(0, 0, 0, 0.3);
                                    &:hover {
                                        opacity: 0.82 !important;
                                        @include transition(.6s opacity);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}